<H1>Contact</H1>
<p>Contacteer ons als u nog vragen heeft</p>


@using Bartel_Jaapje_en_Aapje_PROECT.Database
@model Person

<form method="post">
    <div>
        @Html.LabelFor(m=> m.Voornaam)
        @Html.TextBoxFor(m=> m.Voornaam)
        @Html.ValidationMessageFor(m=> m.Voornaam)
    </div>

     <div>
        @Html.LabelFor(m=> m.Achternaam)
        @Html.TextBoxFor(m=> m.Achternaam)
        @Html.ValidationMessageFor(m=> m.Achternaam)
    </div>

     <div>
        @Html.LabelFor(m=> m.Email)
        @Html.TextBoxFor(m=> m.Email)
        @Html.ValidationMessageFor(m=> m.Email)
    </div>

       <div>
        @Html.LabelFor(m=> m.Telefoonnummer)
        @Html.TextBoxFor(m=> m.Telefoonnummer)
        @Html.ValidationMessageFor(m=> m.Telefoonnummer)
    </div>
   
           <div>
        @Html.LabelFor(m=> m.Adres)
        @Html.TextBoxFor(m=> m.Adres)
        @Html.ValidationMessageFor(m=> m.Adres)
    </div>
   
               <div>
        @Html.LabelFor(m=> m.Beschrijving)
        @Html.TextBoxFor(m=> m.Beschrijving)
        @Html.ValidationMessageFor(m=> m.Beschrijving)
    </div>
   
    
    
   
    
    <input type="submit" value="opslaan" />
</form>
